<div id="<%= dom_id user %>" class="pb-5 border-b border-blue-900">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <%= link_to "Edit", edit_user_path(user) %>
</div>
